@import "tailwindcss";
@import "tw-animate-css";
@import "../css/theme.css";

/* =========================
   BASE
========================= */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    transition: font-size 0.2s ease-in-out;
  }
}

/* --- Alto Contraste (Escala de Cinza) --- */
main.high-contrast {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}
