@import "tailwindcss";
@import "tw-animate-css";
@import "./theme.css";

/* =========================
   BASE (Admin)
========================= */
@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

/* =========================
   UTILITÁRIOS (Admin)
========================= */
@layer utilities {
  /* Scrollbar oculta */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Gradient da página de login (Ajustado para usar o tema) */
  .custom-gradient-1 {
    @apply bg-linear-to-br from-muted to-card;
  }
}
